<mat-progress-bar style="position: absolute; top: 0; z-index: 4" #progressBar *ngIf="progressBarVisible" 
color="accent" mode="indeterminate"></mat-progress-bar>

<div class="container mat-typography">

  <!-- HEADER START -->
  <div fxLayout="row" fxLayoutAlign="center start" class="header">
    <div fxLayout="column" fxFlex="80" fxFlex.lt-lg="100" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="header">
          <!-- LEFT SECTION -->
          <div>LOGO</div>

          <!-- RIGHT SECTION START -->
          <div>
            <div fxLayoutAlign="center center">
              <button mat-icon-button color="primary" [matMenuTriggerFor]="theme" matTooltip="Temas"><mat-icon>format_color_fill</mat-icon></button>
              <mat-menu #theme="matMenu" xPosition="before" yPosition="below">
                <button mat-menu-item *ngFor="let theme of themeList" (click)="selectTheme(theme.value)">{{theme.label}}</button>
              </mat-menu> 
              
              <mat-form-field appearance="outline" class="no-padding">
                <mat-label>Pesquisar</mat-label>
                <input matInput type="text" #q (keyup.enter)="submitSearch(q.value)">
                <button mat-button *ngIf="q.value" matSuffix mat-icon-button aria-label="Clear" (click)="q.value=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <button mat-flat-button color="primary" style="height: 49px" matTooltip="Pesquisar" (click)="submitSearch(q.value)">
                Buscar
              </button>
            </div>
          </div>
          <!-- RIGHT SECTION END -->

        </div>
    </div>
  </div>
  <!-- HEADER END -->

  <!-- TOOLBAR START -->
  <mat-toolbar color="primary"  fxLayout="row" fxLayoutAlign="center start">

      
        <div fxLayout="column" fxFlex="80" fxFlex.lt-lg="100" fxLayoutGap="25px">
          <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 64px">
        
            <button mat-icon-button 
              matTooltip    = "Menu" 
              (click)       = "sidenav.toggle()" 
              fxHide.gt-xs  = "true">
              <mat-icon>menu</mat-icon>
            </button>

            <button mat-button fxFlex fxFlexFill
              fxLayoutAlign = "center center"
              fxHide.lt-sm  = "true"
              *ngFor        = "let m of menus"
              [routerLink]  = "m.link">
              {{ m.name }}
            </button>
            
              

          </div>
        </div>

  </mat-toolbar>
  <!-- TOOLBAR END -->

  <!-- SIDENAV START -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" fxHide.gt-xs="true">
        <div fxHide.gt-md="true" fxLayout="column" class="padding" style="background:rgba(0,0,0,0.5); color: white">
        <div fxLayout="row" fxLayoutAlign="center center" style="width:45px; height: 45px; border-radius: 100%; padding: 10px; background:darkslategray; border: 2px solid white; margin-bottom: 10px">U</div>
        <div>Nome do usuário</div>
        <div>emaildousuario@email.com.br</div>
      </div>
      <mat-nav-list>
        <mat-list>
          <mat-list-item *ngFor="let menu of menus" class="button-menu" (click)="closeSideNav()" routerLink='{{menu.link}}'>
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
            <h4 mat-line>{{menu.name}}</h4>
          </mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>

    <!-- CONTENT START -->
    <mat-sidenav-content>
      <!-- LAYOUT START -->
      <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography">
        <div fxLayout="column" fxFlex="80" fxFlex.lt-lg="100" fxLayoutGap="25px">
          <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
      </div>
      <!-- LAYOUT END -->
    </mat-sidenav-content>
    <!-- CONTENT END -->
    
  </mat-sidenav-container>
  <!-- SIDENAV END -->

</div>
